.left-image{
    width: 80%;
    height: 75%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
}
body{
    background: rgb(243, 243, 243);

}
.right-image{
    width: 150px;
    height: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.right-div{
    width: 50%;
    text-align: center;
    color: 
    display: block;

}

.inputs{
    color:rgb(202, 200, 200);
    background: rgb(243, 243, 243);
    border: 1px solid rgb(202, 200, 200);
    border-radius: 4px;
    padding: .7em;
    width:50%;
}

.loginbut{
    background-color: #3897f0;
    color: white;
    border: none;
    padding: .7em;
    border-radius: 7px;
    width:55%;

}
pre{
    color: rgb(202, 200, 200);
}

.right-inside{
    background:white;
    border:1px solid gray;
}

p{
    font-size: 14px;
}

.signup{
 padding: 1em 0;
}
a{
    text-decoration: none;
    size: 14px;
    color: #3897f0;
}
